@model IEnumerable<gLibrary.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>@Html.ActionLink("<-- Restaurant", "Index", "Restaurant")</h2>
<h2>Categories</h2>

<p>@Html.ActionLink("Create New", "Create", new { rid = @ViewBag.RestaurantId })</p>


<ul>
@foreach (var item in Model) {
    <li>@Html.ActionLink(item.Name, "Details", new { id=item.Id }) </li>
}
</ul>