@{
    ViewBag.Title = "gMenu - Page Not Found";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">The page you are looking for cannot be found. Please check URL.</h2>
</hgroup>
