@model IEnumerable<gLibrary.Models.Dish>

@{
    ViewBag.Title = "Dishes";
}
<h2>@Html.ActionLink("<-- Restaurant", "Index", "Restaurant")</h2>
<h2>Dishes</h2>

<p>
    @Html.ActionLink("New Dish", "Create", new { rid = @ViewBag.RestaurantId })
</p>

<ul>
@foreach (var item in Model) {
    <li>
        @Html.ActionLink(item.Bilingual.FullName, "Details", new { id=item.Id }) 
        </li>
}
</ul>